.background{
    width: 100%;
}

footer{
    background-color: lightgrey;
}

.rounded{
    border-radius: 10px;
}

#menu{
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
     padding-right: 0px;
     padding-left: 0px;
}

article{
    background-color: lightblue;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sticky {
    position: fixed;
    margin-top: 0px;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.offset{
    padding-top: 110px;
}